<!-- Hand-made -->
<launch>
  <include file="$(find typepyt)/typepyt.launch"/>
  <include file="$(find typepyt_moveit_config)/launch/move_group.launch"/>
    <arg name="sim" value="True"/>
  <include file="$(find typepyt_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="True"/>
  </include>
</launch>

